{{#extend "stylesheets"}}
<!--[if lt IE 9]>      <link rel="stylesheet" href="/public/static/css/main.ie.min.css"> <![endif]-->
<!--[if gt IE 8]><!--> <link rel="stylesheet" href="/public/static/css/main.css"> <!--<![endif]-->
{{/extend}}
{{#extend "scripts"}}
<script type="text/javascript">
    //To prevent ie from throw errors when console.log is used (console does not exist in ie browser but does exist in firefox and chrome
    (function () {
        if (typeof console == "undefined") {
            console = { log: function() {} }
        }
    })();
</script>
<script type="text/javascript" data-main="/public/apps/bb/config.js" src="/public/vendor/requirejs/require.js">
</script>
{{/extend}}
<div class="body-wrapper">
<header class="wrapper wrapper__match-content" role="banner">
    <div class="block block__sub">
        <h1 id="pageHeader" class="superheader">Sentia</h1>
        <h6 id="pageSubHeader">Enlightenment for your Environment</h6>
    </div>
</header>
<main class="content" id="main" role="main">
<div class="content_bar"></div>
<div class="content_wrapper">
    <aside class="content_sidebar sans">
        <nav class="nav-secondary">
          <ul class="nav-secondary_list">
              <li class="nav-secondary_item">
                  <a class=nav-secondary_link" href="/reports">Reports (Formerly Spyglass)</a>
              </li>
              <li class="nav-secondary-item">
                  <a class=nav-secondary_link" href="/networkchart">Network Chart</a>
              </li>
              <li class="nav-secondary-item">
                  <a class=nav-secondary_link" href="/softwarediscovery" style="display:block">Software Discovery (proof of concept)</a>
              </li>
          </ul>
        </nav>
    </aside>
</div>
 </main>
</div>