<div class="content-1">
    <h2>Chart Links</h2>
    <div class="content-l_col content-l_col-1-3">
    <a href="#networkChart" class="btn" id="typicalCase">Network Diagram Chart (Typical Case)</a>
    </div>
    <div class="content-l_col content-l_col-1-3">
    <a href="#networkChartNonVpcs" class="btn" id="nonTypicalCase">Network Diagram for Non Vpc Instances Chart (non-typical case)</a>
    </div>
</div>
